.Hero {
  margin-top: 5em;

  @media screen and (min-width: 700px) {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
  }

  .HeroText {
    margin-right: 1em;

    .Typewriter {
      display: flex;
      gap: 0.8em;
      align-items: flex-start;
      margin: 0.4em 0 1em;

      h1 {
        margin: 0;
      }

      .DynamicText {
        margin: 0;
        overflow: hidden;
        height: 5em;
        width: 405px;

        @media screen and (max-width: 700px) {
          height: 3em;
        }

        h1 {
          position: relative;
          top: 0;
          animation: slide 12s steps(4) infinite;
        }

        @keyframes slide {
          100% {
            top: -6em;
          }
        }

        @media screen and (max-width: 700px) {
          @keyframes slide {
            100% {
              top: -6.2em;
            }
          }        }

        h1::after {
          content: "";
          position: absolute;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: #fff;
          border-left: 0.15em solid #000;
          animation: typing 3s steps(14) infinite, blink 1s infinite;
        }

        @keyframes typing {
          40%,
          60% {
            left: calc(100% - 0.15em);
          }
          100% {
            left: 0;
          }
        }

        @keyframes blink {
          50% {
            border-color: transparent;
          }
        }
      }
    }

    p {
      max-width: 450px;
    }

    span {
      font-weight: 500;
    }

    .Button {
      margin-top: 4em;
      position: relative;

      .HeroButton {
        position: relative;

        &::after {
          content: "";
          color: white;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          border-radius: 30px;
          z-index: 6;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease-in;
        }
      }

      .HeroButton:hover {
        &::after {
          content: "Copy to clipboard";
          background-color: #6773ff;
          backdrop-filter: blur(1000px);
          -webkit-backdrop-filter: blur(1000px);
          opacity: 0.92;
          width: 100%;
        }
      }
    }
  }

  .HeroImg {
    width: 50%;
    max-width: 700px;

    @media screen and (max-width: 700px) {
      margin-top: 3.5em;
      width: 100%;
    }
  }
}
