.WorkContainer {
  padding-bottom: 10em;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 500%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(246, 247, 254, 0) 0%,
      #f6f7fe 8%,
      #f6f7fe 90%,
      rgba(246, 247, 254, 0) 100%
    );
    z-index: -1;
  }

  h1 {
    text-align: center;
    margin-bottom: 0.4em;
  }

  .Filters {
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
    margin-bottom: 4em;

    .FilterButton:first-child {
      justify-self: end;
    }

    .FilterButton {
      background: none;
      border: none;
      font-family: inherit;
      font-size: 0.75rem;
      font-weight: 500;
      color: #6773ff;
      letter-spacing: 0.15em;
      padding: 0.8em 2em;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: rgba(196, 188, 255, 0.2);
        opacity: 0.8;
        cursor: pointer;
      }
    }

    .Selected {
      background-color: rgba(196, 188, 255, 0.2);
      opacity: 0.8;
    }
  }

  .Works {
    @media screen and (min-width: 700px) {
      .Left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5em;
      }

      .Right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
      }
    }

    h2 {
      margin: 0.3em 0 0.8em;
    }

    p {
      max-width: 540px;
      margin-right: 3em;
    }

    .WorkButton {
      display: flex;
      flex-direction: row-reverse;
      margin: 3em 0;

      span {
        transform: translateX(0) scale(0.7);
        margin: 0;
        transition: transform 0.3s ease;

        .MuiSvgIcon-root {
          width: 0.5em !important;
        }
      }

      &:hover {
        span {
          transform: translateX(7px) scale(0.7);
        }
      }
    }

    .WorkImg {
      position: relative;
      width: fit-content;
      height: fit-content;
      margin-bottom: 3em;

      .Overlay {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
        right: 15px;
        top: 20px;
        opacity: 0;
        transition: all 0.5s ease-in-out;

        .OverlayLinks {
          width: 45px;
          height: 45px;
          background-color: rgba(255, 255, 255, 0.15);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all .2s ease-in-out;

          img {
            width: 25px;
            transition: all .2s ease-in-out;
          }

          &:hover {
            transform: scale(1.1);

            img {
              transform: scale(.8);
            }
          }
        }
      }

      &:hover {
        .Overlay {
          opacity: 1;
        }
      }

      svg {
        overflow: visible;
        width: 330px;
        height: fit-content;

        @media screen and (min-width: 700px) {
          width: 400px;
        }

        @media screen and (min-width: 1000px) {
          width: 550px;
        }

        .Pomodoro {
          transform-origin: center;
          transform-box: fill-box;
          transform: rotateZ(-20deg) translate(40px, -15px);
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          .Pomodoro {
            transform: rotateZ(-12deg) translate(50px, -15px);
          }
        }

        .Dashboard {
          transform-origin: center;
          transform-box: fill-box;
          transform: rotateZ(-20deg) translate(50px, -40px);
          transition: all 0.3s ease-in-out;
        }

        .Graph {
          transform-origin: center;
          transform-box: fill-box;
          transform: rotateZ(2.5deg) translate(10px, 0px);
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          .Dashboard {
            transform: rotateZ(-35deg) translate(80px, -35px);
          }

          .Graph {
            transform: rotateZ(-13deg) translate(20px, -30px) scale(0.9);
          }
        }

        .Trophy {
          transform-origin: center;
          transform-box: fill-box;
          transform: rotateZ(-25deg) translate(35px, -15px);
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          .Trophy {
            transform: rotateZ(-5deg) translate(45px, -25px);
          }
        }

        .Guy {
          transform-origin: center;
          transform-box: fill-box;
          transform: rotateZ(0deg) translate(0px, -10px);
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          .Guy {
            transform: rotateZ(-20deg) translate(-20px, -15px);
          }
        }
      }

      .BillmateLogo {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-40%, -40%);
        width: 70px;
        pointer-events: none;

        @media screen and (min-width: 700px) {
          width: 130px;
        }
      }

      .PortfolioV1Logo {
        position: absolute;
        top: 41%;
        left: 37.5%;
        transform: translate(-37.5%, -41%);
        width: 70px;
        pointer-events: none;

        @media screen and (min-width: 700px) {
          width: 100px;
        }
      }
    }
  }
}
