.AboutContainer {
  h2 {
    margin: 0.5em 0 1em;
  }

  .Hero {
    text-align: center;
    margin: 7em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin: 0;
    }

    p {
      max-width: 450px;
    }
  }

  .Journey {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 3em;

    @media screen and (max-width: 1000px) {
      flex-direction: column;

      .AboutText {
        margin-top: 3.5em;
        margin-left: 0 !important;
      }
    }

    .AboutImg {
      max-width: 600px;
      max-height: 500px;
      min-width: 400px;
      
      @media screen and (max-width: 700px) {
        min-width: 200px;
      }

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .AboutText {
      max-width: 540px;
      margin-left: 4.5em;

      p {
        font-size: 0.8rem;
      }
    }
  }

  .SkillGrid {
    margin-bottom: 3em;
    @media screen and (min-width: 700px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    ul {
      margin-top: 2em;
    }

    p {
      margin: 0;
    }
  }

  .Experience {
    margin-bottom: 5em;

    h2 {
      opacity: 0.7;
      margin: 0.5em 0;
    }

    .LogoGrid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 8em;
      align-items: center;
      margin-bottom: 5em;

      @media screen and (max-width: 700px) {
        grid-template-columns: 1fr 1fr ;
        grid-gap: 1em;
        justify-items: center;
      }

      .Smaller {
        width: 60%;
      }

      img {
        min-width: 80px;
      }
    }
  }

  .Mission {
      margin-bottom: 5em;
    h2 {
      max-width: 630px;
      margin-bottom: 0.5em;
    
      span {
          color: #6773FF;
      }
    }

    .Description {
      @media screen and (min-width: 700px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }

      .Text {
        .Caption {
            max-width: 700px;
          margin-bottom: 3.2em;
        }

        li {
          margin-top: 2.2em;

          h4 {
            margin: 0;
          }

          p {
            font-size: 0.8rem;
            max-width: 500px;
          }
        }
      }

      img {
        max-width: 400px;
      }
    }
  }
}
