.HomeContainer {
  .Hero {
    height: 80vh;

    @media screen and (min-width: 900px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .HeroText {
      h1 {
        margin: 0.3em 0 0.55em;
      }

      // .dynamic-txts {
      //   overflow: hidden;
      // }

      // .dynamic-txts li {
      //   font-size: 60px;
      //   font-weight: 500;
      //   position: relative;
      //   top: 0;
      //   animation: slide 12s steps(4) infinite;
      // }
      // @keyframes slide {
      //   100% {
      //     top: -360px;
      //   }
      // }
      // .dynamic-txts li h1 {
      //   position: relative;
      //   margin: 5px 0;
      //   line-height: 90px;
      // }
      // .dynamic-txts li h1::after {
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   height: 100%;
      //   width: 100%;
      //   background: #343f4f;
      //   border-left: 2px solid #fc6d6d;
      //   animation: typing 3s steps(10) infinite;
      // }
      // @keyframes typing {
      //   40%,
      //   60% {
      //     left: calc(100% + 30px);
      //   }
      //   100% {
      //     left: 0;
      //   }
      // }

      p {
        max-width: 400px;
      }

      span {
        font-weight: 500;
      }

      .Button {
        margin-top: 4em;
      }
    }

    .HeroImg {
      width: 50%;
      max-width: 500px;

      @media screen and (max-width: 700px) {
        display: none;
      }
    }
  }
}
