.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
    
        li {
          margin-right: 4em;
          transition: all .1s ease-in-out;
    
          &:hover {
            opacity: .7;
          }
        }
    
        li:last-child {
          margin-right: 0;
        }
      }
    
      .SocialLinks {
        display: flex;
        align-items: center;
        @media screen and (max-width: 700px) {
          display: none;
        }
    
        li {
          margin-right: 3em;
          width: 20px;
        }
    
        li:last-child {
          margin-right: 0;
        }
    
        .NavIcon {
          width: 22px;
        }
      }
}